/** Global Styles **/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

h3 {
  color: #0b0223;
  font-size: 2rem;
  line-height: 1.4em;
  font-weight: 700;
}

h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}

.btn {
  padding: 15px 30px;
  border-radius: 40px;
  border: unset;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #ff42a5;
  min-width: 150px;
}

.btn:hover {
  background: #de338c;
}

.btn-alt {
  background: #4ec5f7;
}

ul li {
  list-style: none;
}

/** Shared Styles **/
header,
.site-title,
nav ul,
.follow-us,
.hero-wrap,
.about-us,
.about-text,
.feature,
.category {
  display: flex;
  align-items: center;
}

header,
.hero-wrap,
.about-us,
.online-games,
.feature,
.categories {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 50px;
}

header,
.hero-wrap,
.about-us {
  justify-content: space-between;
}

/** Header **/
.header-wrap {
  padding: 15px 0 15px 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.site-title {
  gap: 15px;
}

.site-title img {
  width: 50px;
  height: 25px;
  object-fit: cover;
}

.site-title h1 {
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  gap: 25px;
}

nav li a,
.follow-us {
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

nav li a:hover,
.follow-us .fa-brands:hover {
  color: #ff42a5;
}

.follow-us {
  gap: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 25px;
}

.follow-us p {
  margin-right: 10px;
}

/** Hero **/
.hero {
  background-image: linear-gradient(
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding-top: 20px;
  padding-bottom: 0;
}

.hero-content p {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content ul {
  margin: 35px 0;
}

.hero-content ul li {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 0;
}

.hero-content .fa-solid,
.hero-content .fa-regular {
  color: #ff42a5;
  margin-right: 10px;
}

.hero-content.fa-circle-play,
.hero-content.fa-download {
  font-size: 1.1rem;
}

.hero-content .fa-user-group {
  font-size: 0.85rem;
}

.hero-content .btn-primary {
  margin-right: 10px;
}

.hero-image img {
  max-width: 600px;
}

/** About Us **/
.about-image img {
  width: 700px;
  padding-right: 80px;
}

.about-text {
  text-align: right;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

/** Online Games **/
.online-games {
  text-align: center;
  padding: 80px 50px;
}

.video-cards {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(25% - 15px);
  position: relative;
  border-radius: 15px;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px #de338c;
}

.card-image:hover .overlay {
  opacity: 1;
}

.card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card .watch-now {
  text-align: center;
  font-weight: 500;
  color: #ff42a5;
  display: block;
  margin-top: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card p {
  padding-top: 15px;
  text-align: left;
}

/** Feature **/
.feature {
  gap: 100px;
}

.feature-1 {
  text-align: right;
  justify-content: end;
}

.feature-2 {
  flex-direction: row-reverse;
  justify-content: start;
}

.feature-text {
  max-width: 400px;
}

.feature-text p {
  padding-top: 40px;
}

.feature-image .main-image {
  max-width: 500px;
}

.feature-1 .feature-image .main-image {
  padding-left: 100px;
}
.feature-2 .feature-image .main-image {
  padding-right: 100px;
}

.feature-image .sub-image {
  display: block;
  position: relative;
  max-width: 200px;
  bottom: 150px;
}

.feature-2 .feature-image .sub-image {
  right: -400px;
}

/** Categories **/
.categories-wrap {
  background-color: #fafafa;
  padding: 50px 0;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category {
  min-width: calc(20%-16px);
  gap: 15px;
  background: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.category:hover {
  border-color: #ff42a5;
  cursor: pointer;
}

.category:hover p {
  color: #ff42a5;
}

@media only screen and (max-width: 768px) {
  .header-wrap,
  .hero-wrap {
    max-width: 100%;
  }

  header,
  .hero-wrap,
  .about-us,
  .feature {
    flex-direction: column;
    padding: 15px 30px;
  }

  nav {
    margin: 25px 0;
  }

  .hero-wrap {
    flex-direction: column-reverse;
    padding: 15px 30px;
  }

  .hero-content {
    padding-top: 40px;
  }

  .hero-content p,
  .hero-content h1 {
    text-align: center;
  }

  .hero-content .cta-buttons {
    margin: 0 auto;
  }

  .hero-image img,
  .about-image img {
    max-width: 450px;
  }

  .about-image img {
    padding-right: unset;
  }

  .about-text {
    text-align: center;
    align-items: center;
    max-width: 600px;
  }

  .card {
    width: calc(50% - 20px);
    padding: 10px 0;
  }

  .feature {
    gap: 40px;
  }

  .feature-1,
  .feature-2 {
    text-align: center;
    justify-content: center;
  }

  .categories {
    gap: 10px;
    padding: 15px 30px;
  }

  .category {
    max-width: 200px;
    gap: 10px;
    padding: 8px 15px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    padding: 15px;
  }

  header nav ul {
    flex-direction: column;
  }

  .hero-image img,
  .about-image img {
    max-width: 100%;
  }

  .card {
    width: 100%;
  }

  .feature-image .main-image {
    max-width: 300px;
  }

  .feature-1 .feature-image .main-image {
    padding-left: 50px;
  }
  .feature-2 .feature-image .main-image {
    padding-right: 50px;
  }

  .feature-image .sub-image {
    max-width: 150px;
    bottom: 100px;
  }

  .feature-2 .feature-image .sub-image {
    right: -200px;
  }

  .categories {
    gap: 5px;
    padding: 15px;
    flex-wrap: wrap;
  }

  .category {
    max-width: 100px;
    gap: 5px;
    padding: 5px 10px;
  }
}
